body {
    background: #20262E;
    padding: 0;
    font-family: Helvetica;
}

#depHead {
    background-color: #5b9bd5;
    height: 325px;
    width: 100%;
    border-color: gray 1px solid;
}

#depHeadTable {
    padding-top: 50px;
    width: 100%;
}

#leftPanel {
    background-color: gray;
    height: 100px;
    width: 65px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#curentPanel {
    background-color: #6bae3f;
    height: 100px;
    width: 65px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#rightPanel {
    background-color: gray;
    height: 100px;
    width: 65px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.tdSpace {
    padding-left: 35px;
    display: table-cell;
}

.panelText {
    background-color: white;
    border: 1px solid black;
    height: 20px;
    width: 175px;
}

.currentPanelText {
    background-color: white;
    border: 1px solid black;
    height: 20px;
    width: 175px;
}

#laminName {
    width: 100px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    text-align: center;
}

#bugCount {
    width: 40px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 19pt;
}

#scanCodeCheckArea {
    margin-top: 50px;
    margin-left: 25px
}

#scanCodeCheck {
    background-color: white;
    border: 1px solid black;
}

#scanCodeCheckBtn {
    height: 30px;
    width: 125px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 8px;
    background: linear-gradient(to top, #b35211, #f4b081);
}

.inputTextField {
    width: 200px
}

.divTextCenter {
    display: grid;
    align-items: center;
    text-align: center;
}