<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>«Ідентифікація ламінованих фотогальванічних модулів</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-page2.css}"/>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/page2.js}"></script>
    </head>
    <body>
        <span id="clock" style="color: white"
              th:text="${#dates.format(currentTime, 'HH:mm:ss')}">
        </span>
        <div id="depHead">
            <div id="laminName"
                 th:utext="${leftPanel?.laminName}">
            </div>
            <table id="depHeadTable">
                <tr>
                    <td class="tdSpace" align="center">
                        <table>
                            <tr>
                                <td>
                                    <div id="leftPanel">
                                        <h3 th:utext="|П-${leftPanel?.panelPosition}|" >
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div th:utext="${leftPanel?.bugCount}" 
                                         id="bugCount">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="panelText"
                             th:utext="${leftPanel?.scanCode}">

                        </div>
                    </td>
                    <td class="tdSpace" align="center">
                        <div th:utext="${#dates.format(currentPanel?.creationDate, 'dd-MM-yyyy HH:mm:ss')}" 
                             class="panelText">

                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div id="curentPanel">
                                        <h3 th:utext="|П-${currentPanel?.panelPosition}|">
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div id="bugCount" 
                                         th:utext="${currentPanel?.bugCount}" >
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="currentPanelText"
                             th:utext="${currentPanel?.scanCode}">

                        </div>
                    </td>
                    <td class="tdSpace" align="center">
                        <table>
                            <tr>
                                <td>
                                    <div id="rightPanel">
                                        <h3 th:utext="|П-${rightPanel?.panelPosition}|">
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div id="bugCount"
                                         th:utext="${rightPanel?.bugCount}" >

                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="panelText"
                             th:utext="${rightPanel?.scanCode}">

                        </div>
                    </td>
                </tr>
            </table>
            <div id="scanCodeCheckArea">
                <table>
                    <tr>
                        <td>
                            <form th:object="${student}" 
                                  th:action="@{/searchPanel}" 
                                  method="get">
                                <input type="text" 
                                       name="search" 
                                       id="search" 
                                       th:value="${search}"/>
                                <input type="submit" 
                                       value="Шукати" 
                                       id="scanCodeCheckBtn"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>