<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>«Ідентифікація ламінованих фотогальванічних модулів</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-page2.css}"/>
    </head>
    <body>
        <div id="depHead">
            <div id="laminName">
            </div>
            <table id="depHeadTable">
                <tr>
                    <td class="tdSpace" align="center">
                        <table>
                            <tr>
                                <td>
                                    <div id="leftPanel">
                                        <h3 th:utext="|П-${leftPanel?.panelPosition}|" >
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div th:utext="${leftPanel?.bugCount}" 
                                         id="bugCount">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="panelText">
                        </div>
                    </td>
                    <td class="tdSpace" align="center">
                        <div class="panelText">
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div id="curentPanel">
                                        <h3 th:utext="|П-${currentPanel?.panelPosition}|">
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div id="bugCount" 
                                         th:utext="${leftPanel?.bugCount}" >
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="currentPanelText">
                        </div>
                    </td>
                    <td class="tdSpace" align="center">
                        <table>
                            <tr>
                                <td>
                                    <div id="rightPanel">
                                        <h3 th:utext="|П-${rightPanel?.panelPosition}|">
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div id="bugCount"
                                         th:utext="${rightPanel?.bugCount}" >
                                             
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="panelText">
                        </div>
                    </td>
                </tr>
            </table>
            <div id="scanCodeCheckArea">
                <table>
                    <tr>
                        <td>
                            <form th:object="${student}" 
                                  th:action="@{/searchPanel}" 
                                  method="get">
                                <input type="text" 
                                       name="search" 
                                       id="search" 
                                       th:value="${search}"/>
                                <input type="submit" 
                                       value="Search" 
                                       id="scanCodeCheckBtn"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>