<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Візуальний контроль</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-page2.css}"/>
    </head>
    <body>
        <div id="depHead">
            <div id="laminName">
            </div>
            <table id="depHeadTable">
                <tr>
                    <td class="tdSpace" align="center">
                        <table>
                            <tr>
                                <td>
                                    <div id="leftPanel">
                                        <h3>
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div id="bugCount">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="panelText">
                        </div>
                    </td>
                    <td class="tdSpace" align="center">
                        <div class="panelText">
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div id="curentPanel">
                                        <h3>
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div id="bugCount">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="currentPanelText">
                        </div>
                    </td>
                    <td class="tdSpace" align="center">
                        <table>
                            <tr>
                                <td>
                                    <div id="rightPanel">
                                        <h3>
                                        </h3>
                                        <h3>
                                        </h3>
                                    </div>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div id="bugCount"></div>
                                </td>
                            </tr>
                        </table>
                        <div class="panelText">
                        </div>
                    </td>
                </tr>
            </table>
            <div id="scanCodeCheckArea">
                <table>
                    <tr>
                        <td>
                            <div id="scanCodeCheck">
                                <input type="text" 
                                       class="inputTextField"/>     
                            </div>
                        </td>
                        <td>
                            <button id="scanCodeCheckBtn">Шукати</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>