<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>

<body>

    <div id="depHead">
        <div id="laminName">
        </div>
        <table id="depHeadTable">
            <tr>
                <td class="tdSpace" align="center">
                    <div id="leftPanel">
                        <h3>
                            .1.
                        </h3>
                        <h3>
                            .2.
                        </h3>
                    </div>
                    <div class="panelText">

                    </div>
                </td>
                <td class="tdSpace" align="center">
                    <div class="panelText">

                    </div>
                    <table>
                        <tr>
                            <td>
                                <div id="curentPanel">
                                    <h3>
                                        .1.
                                    </h3>
                                    <h3>
                                        .2.
                                    </h3>
                                </div>
                            </td>
                            <td style="vertical-align: baseline;">
                                <div id="bugCount">

                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="currentPanelText">

                    </div>
                </td>
                <td class="tdSpace" align="center">
                    <div id="rightPanel">
                        <h3>
                            .1.
                        </h3>
                        <h3>
                            .2.
                        </h3>
                    </div>
                    <div class="panelText">

                    </div>
                </td>
            </tr>
        </table>
        <div id="scanCodeCheckArea">
            <table>
                <tr>
                    <td>
                        <div id="scanCodeCheck">
                        </div>
                    </td>
                    <td>
                        <button id="scanCodeCheckBtn">Шукати</button>
                    </td>
                </tr>
            </table>


        </div>

    </div>
</body>

</html>