< !DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>

    <body>
        <div id="depHead">
            <div id="infoField">
                <div id="laminName"></div>
                <div id="bugTime"></div>
            </div>
            <table id="depHeadTable">
                <tr>
                    <td class="tdSpace" align="center">
                        <div id="leftPanel">
                            <h3>.1. </h3>
                            <h3>.2. </h3>
                        </div>
                        <div class="panelText"></div>
                    </td>
                    <td class="tdSpace" align="center">
                        <div class="panelText"></div>
                        <div id="curentPanel">
                            <h3>.1. </h3>
                            <h3>.2. </h3>
                        </div>
                        <div class="currentPanelText"></div>
                    </td>
                    <td class="tdSpace" align="center">
                        <div id="rightPanel">
                            <h3>.1. </h3>
                            <h3>.2. </h3>
                        </div>
                        <div class="panelText"></div>
                    </td>
                </tr>
            </table>
        </div>
    </body>

    </html>